*{
  padding: 0px;
  margin: 0px;
  background-color: #282c34;
} 

header{
  text-align: center;
}

button{
  font-size: 2.5rem;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,0%);
  padding: 0.5rem;
  color:beige;
}

img{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
  width :512px;
  height: 512px;
}

#water0{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 0%, black 0%);
}

#water1{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 10%, black 0%);
}

#water2{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 20%, black 0%);
}

#water3{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 30%, black 0%);
}

#water4{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 40%, black 0%);
}

#water5{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 50%, black 0%);
}

#water6{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 60%, black 0%);
}

#water7{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 70%, black 0%);
}

#water8{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 80%, black 0%);
}

#water9{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 90%, black 0%);
}

#water10{
  opacity: 60%;
  mask-image: linear-gradient(to bottom, transparent 100%, black 0%);
}

h1{
  color:beige;
  font-size: 3.5rem;
}

button:hover{
  color:aqua;
}

p{
  color:beige;
  font-size: 2rem;
  text-align: center;
  
}