*{
  padding: 0px;
  margin: 0px;
  background-color: #282c34;
}

header{
  text-align: center;
}

button{
  font-size: 2.5rem;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%,0%);
  padding: 0.5rem;
  color:beige;
}

img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  width :512px;
  height: 512px;
}

h1{
  color:beige;
  font-size: 3.5rem;
}

button:hover{
  color:aqua;
}